/* Custom CSS */
.sg-dir-prof-card img.image-view.sg-profile-image {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.sg-space-filter-current {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-family: -apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    transition: background-color 0.3s ease;
}